footer{
    background-color: #ecb807;
}

footer p{
    color: #f8f9fa !important;
}

.content{
    width: 100%;
    height: 100vh;
    background-color: #ecb807;
}

img{
    object-fit: cover !important;
}

.portfolio-item{
    height: 100%;
}
.portfolio-item img{
    height: 100%;
}