footer{
    background-color: #ecb807;
}

footer p{
    color: #f8f9fa !important;
}

body{
    margin: 0;
}

.content{
    height: 100vh;
    width: 100%;
    background-color: #ecb807;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover !important;
}

.portfolio-item{
    height: 100%;
}
.portfolio-item img{
    height: 100%;
}